<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-md-3">
        <div class="card bg-light-success no-card-border">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-10">
                        <span>Total Users</span>
                        <h4> 200 </h4>
                        <!-- <h4>&euro; 3,567.53</h4> -->
                    </div>
                    <!-- <div class="ml-auto">
                        <div class="line-chart m-b-40">
                            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                                [legend]="lineChartLegend" [chartType]="lineChartType">
                            </canvas>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-md-3">
        <div class="card bg-light-warning no-card-border">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-10">
                        <span>Total Vendors</span>
                        <h4> 200 </h4>
                        <!-- <h4>&euro; 3,567.53</h4> -->
                    </div>
                    <!-- <div class="ml-auto">
                      <div class="line-chart m-b-40">
                          <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                              [legend]="lineChartLegend" [chartType]="lineChartType">
                          </canvas>
                      </div>
                  </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-md-3">
        <div class="card bg-light-danger no-card-border">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-10">
                        <span>Total Orders</span>
                        <h4> 200 </h4>
                        <!-- <h4>&euro; 3,567.53</h4> -->
                    </div>
                    <!-- <div class="ml-auto">
                      <div class="line-chart m-b-40">
                          <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                              [legend]="lineChartLegend" [chartType]="lineChartType">
                          </canvas>
                      </div>
                  </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-md-3">
        <div class="card bg-light-info no-card-border">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-10">
                        <span>New Orders</span>
                        <h4> 200 </h4>
                        <!-- <h4>&euro; 3,567.53</h4> -->
                    </div>
                    <!-- <div class="ml-auto">
                    <div class="line-chart m-b-40">
                        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                            [legend]="lineChartLegend" [chartType]="lineChartType">
                        </canvas>
                    </div>
                </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-md-3">
        <div class="card bg-light-danger no-card-border">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-10">
                        <span>Pending Orders</span>
                        <h4> 200 </h4>
                        <!-- <h4>&euro; 3,567.53</h4> -->
                    </div>
                    <!-- <div class="ml-auto">
                  <div class="line-chart m-b-40">
                      <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                          [legend]="lineChartLegend" [chartType]="lineChartType">
                      </canvas>
                  </div>
              </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-md-3">
        <div class="card bg-light-info no-card-border">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-10">
                        <span>Delivered Orders</span>
                        <h4> 200 </h4>
                        <!-- <h4>&euro; 3,567.53</h4> -->
                    </div>
                    <!-- <div class="ml-auto">
                  <div class="line-chart m-b-40">
                      <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                          [legend]="lineChartLegend" [chartType]="lineChartType">
                      </canvas>
                  </div>
              </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-md-3">
        <div class="card bg-light-warning no-card-border">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-10">
                        <span> In- Progress orders</span>
                        <h4> 200 </h4>
                        <!-- <h4>&euro; 3,567.53</h4> -->
                    </div>
                    <!-- <div class="ml-auto">
                  <div class="line-chart m-b-40">
                      <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                          [legend]="lineChartLegend" [chartType]="lineChartType">
                      </canvas>
                  </div>
              </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card bg-light-success no-card-border">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-10">
                        <span> Total Revenue </span>
                        <h4>&euro; 3,567.53</h4>
                    </div>
                    <!-- <div class="ml-auto">
                <div class="line-chart m-b-40">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                        [legend]="lineChartLegend" [chartType]="lineChartType">
                    </canvas>
                </div>
            </div> -->
                </div>
            </div>
        </div>
    </div>