<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" routerLink="/pages/geofence">Back</button>
                    </div>
                </div>
                <form [formGroup]="editForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Edit Geofence Name">
                        <mat-error *ngIf="editForm.controls['name'].touched && editForm.controls['name'].invalid">
                            *Please enter name
                        </mat-error>
                    </div>
                </form>
  
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="getZoom" (mapReady)="onMapReady($event)" (zoomChange)="updateZoom($event)" ></agm-map>
  
                <button class="btn btn-primary mt-3" (click)="updateGeoFence()" [disabled]="editForm.invalid ">Update</button>
                <button class="btn btn-danger mt-3 ml-3"(click)="deleteSelectedShape()">Clear</button>
  
            </div>
        </div>
    </div>
  </div>