<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" routerLink="/pages/geofence">Back</button>
                    </div>
                </div>
                <form [formGroup]="addGeofenceForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input #ref (keydown.space)="avoidBlankSpace($event ,ref.value)" type="text" matInput class="form-control" placeholder="Add Geofence Name" formControlName="name">
                        <mat-error *ngIf="addGeofenceForm.controls['name'].touched && addGeofenceForm.controls['name'].invalid">
                            *Please enter valid name(Max Limit - 45)
                        </mat-error>
                    </div>
                </form>
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="sendZoom" (mapReady)="onMapReady($event)" (zoomChange)="getZoom($event)">
                <!-- <agm-marker [latitude]="lat" [agmFitBounds]="true" [longitude]="lng"></agm-marker> -->
            </agm-map>
                <button class="btn btn-primary mt-3" (click)="addGeoFence()" [disabled]="addGeofenceForm.invalid">Save</button>
                    <button class="btn btn-danger mt-3 ml-3"(click)="deleteSelectedShape()">Clear</button>
  
                <!-- <a routerLink="/pages/geofenceList" class="btn btn-primary mt-3">Veiw</a> -->
            </div>
        </div>
    </div>
  </div>