<div class="row">
  <!-- Column -->
  <div class="col-lg-12 ">
    <div class="d-flex mb-2">
      <a routerLink="/pages/useredit" class="btn btn-primary ">Edit</a>
      <a routerLink="/pages/users" class="btn btn-primary ml-auto">Back</a>
    </div>
    <div class="card p-3">
      <div class="row">
        <div class="col-md-12">
          <div class="card-body p-3 bg-light border">
            <div class="mb-3">
              <img src="assets/images/users/1.jpg" class="rounded-circle" width="150" />
            </div>
            <div class="row">
              <div class="col-md-4">
                <h4>Person Info</h4>
                <ul class="list-block pl-0 ">
                  <!-- <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Name:</span> Hanna Gover</li> -->
                  <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Phone No. :</span> <a
                      href="tel:+919564345452">+91-9564345452</a>
                  </li>
                  <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Email:</span> <a
                      href="mailto:hanna@example.com">hanna@@example.com</a></li>
                  <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Address:</span> <a
                      href="javascript:void()">#454 1st Block, Rammurthy, Bangalore-560016</a>
                    <div class="map-box mt-2">
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                        width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4>Alternate Info</h4>
                <ul class="list-block pl-0 ">
                  <!-- <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Name:</span> Hanna Gover</li> -->
                  <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Phone No. :</span> <a
                      href="tel:+919564345452">+91-9564345452</a>
                  </li>
                  <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Email:</span> <a
                      href="mailto:hanna@example.com">hanna@@example.com</a></li>
                  <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Address:</span> <a
                      href="javascript:void()">#454 1st Block, Rammurthy, Bangalore-560016</a>
                    <div class="map-box mt-2">
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                        width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4>Emergency Contact</h4>
                <ul class="list-block pl-0 ">
                  <!-- <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Name:</span> Hanna Gover</li> -->
                  <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Phone No. :</span> <a
                      href="tel:+919564345452">+91-9564345452</a>
                  </li>
                  <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Email:</span> <a
                      href="mailto:hanna@example.com">hanna@@example.com</a></li>
                  <li class="list-block-listing pr-2 pb-2"><span class="font-weight-600 d-block">Address:</span> <a
                      href="javascript:void()">#454 1st Block, Rammurthy, Bangalore-560016</a>
                    <div class="map-box mt-2">
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                        width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-body p-3 bg-light border">
            <div class="row">
              <div class="col-md-12">
                <h4>Membership plans</h4>
              </div>
              <div class="col-md-3">
                <h4>Active plan</h4>
              </div>
              <div class="col-md-9">
                <h4>Past plans</h4>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="border-0 cardbody py-3 text-center theme_btn">
                    <h3>Popular Plan</h3>
                    <ul>
                      <li>28 Days Free Delivery</li>
                      <li>Unlimited Access</li>
                      <li>Unlimited Access</li>
                    </ul>
                    <h3> $4.99 / Month </h3>
                    <h4>Expiry: 20/10/2021</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="border-0 cardbody py-3 text-center theme_btn_drk">
                    <h3>Popular Plan</h3>
                    <ul>
                      <li>28 Days Free Delivery</li>
                      <li>Unlimited Access</li>
                      <li>Unlimited Access</li>
                    </ul>
                    <h3> $4.99 / Month </h3>
                    <h4>Expiry: 20/10/2021</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="border-0 cardbody py-3 text-center theme_btn_drk">
                    <h3>Popular Plan</h3>
                    <ul>
                      <li>28 Days Free Delivery</li>
                      <li>Unlimited Access</li>
                      <li>Unlimited Access</li>
                    </ul>
                    <h3> $4.99 / Month </h3>
                    <h4>Expiry: 20/10/2021</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h4>Orders</h4>
              </div>
              <div class="col-md-4">
                <ul class="list-block pl-0 list-style-none">
                  <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Completed Orders:
                    </span>28</li>
                  <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Canceled
                      Orders:</span>2</li>
                  <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Pending
                      Orders:</span>2</li>
                  <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Cancelation
                      Rate:</span>10%</li>
                  <!-- <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Payment Not Completed:</span>0</li> -->
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-block pl-0 list-style-none">
                  <!-- <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Cancelation Rate: </span>0%</li> -->
                  <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Payment Not
                      Completed:</span>2</li>
                  <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Total Orders:</span>30
                  </li>
                  <li class="list-block-listing pr-2 pb-2"> <span class="font-weight-600 d-block">Amount Spent:</span><i
                      class="fas fa-euro-sign"></i>200</li>
                </ul>
              </div>
              <div class="col-md-4 row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body card-box ">
                      <div class="d-flex align-items-center">
                        <div class="m-r-10">
                          <span class="btn btn-circle btn-sm  btn-info p-1">
                            <i class="mdi mdi-account text-white font-16"></i>
                          </span>
                        </div>
                        <div>
                          Most Used Section
                          <h5 class=" mb-0">Fastfood</h5>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body card-box ">
                      <div class="d-flex align-items-center">
                        <div class="m-r-10">
                          <span class="btn btn-circle btn-sm  bg-danger p-1">
                            <i class="mdi mdi-clock text-white font-16"></i>
                          </span>
                        </div>
                        <div>
                          <p class="mb-0">Time Spend</p>
                          <h5 class="m-b-0">30/Min</h5>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body card-box ">
                      <div class="d-flex align-items-center">
                        <div class="m-r-10">
                          <span class="btn btn-circle btn-sm  bg-danger p-1">
                            <i class="mdi mdi-ticket-confirmation text-white font-16"></i>
                          </span>
                        </div>
                        <div>
                          <p class="mb-0">Most used coupon</p>
                          <h5 class="m-b-0">BLACK20</h5>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-12">
    <h2 class="pt-2">Order History</h2>
    <div class="col-lg-12 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <form>
                  <div class="mb-2">
                      <input type="text" class="form-control" id="prenametext" placeholder="Search">
                  </div>
              </form>
          </div>
          <div class="col-md-8 text-right">
            <div class="d-block">
              <mat-form-field appearance="fill">
                <mat-label> Filter by date</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
              <div class="mr-2 d-inline-block"><button class="btn btn-primary">Download CSV</button></div>
              <div ngbDropdown class="d-inline-block mb-2 mr-2">
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Filter by order status
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">Accepted</button>
                    <button class="dropdown-item">Rejected</button>
                  </div>
              </div>
          </div>
            <div class="table-responsive">
              <table mat-table class=" w-100" [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="serial_no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> #  </th>
                  <td mat-cell *matCellDef="let row"> {{row.serial_no}} </td>
                </ng-container>  
                <!-- ID Column -->
                <ng-container matColumnDef="audio">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Audio Files </th>
                  <td mat-cell *matCellDef="let row"> 
                  <audio controls>
                    <source [src]=row.audio type="audio/mp3">
                  </audio> 
                </td>
                </ng-container>
                <!-- ID Column -->
                <ng-container matColumnDef="ordered_item">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ordered Items  </th>
                  <td mat-cell *matCellDef="let row"> {{row.ordered_item}} </td>
                </ng-container>  <!-- ID Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Vendor Details </th>
                  <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.name}} <br> {{row.id}} </td>
                </ng-container>
                <!-- Address -->
                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Delivery Location </th>
                  <td mat-cell *matCellDef="let row" style="width:200px;"> {{row.address}} <a href="javascript:void()" (click)="mapModal(map)"><i class="sl-icon-info"></i></a> </td>
                </ng-container>
                <!-- Pricing -->
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Price of the Total Order</th>
                  <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.price}} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Action </th>
                  <td mat-cell *matCellDef="let row" class="text-nowrap">
                    <div ngbDropdown placement="bottom-right" display="dynamic" class="dropdown-menu-right"  container="body">
                      <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                        Action
                      </button>
                      <div  ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a href="javascript:void()" class="dropdown-item" (click)="vendorConfirmModal(vendorConfirm)">
                          Accept
                        </a>
                        <a href="javascript:void()" class="dropdown-item "
                          (click)="orderConfirmModal(orderConfirm)">
                          Reject</a>
                      </div>
                    </div>
                  </td>
                </ng-container> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            </div>
            <div class="col-md-12 text-right"><mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator></div>
          </div>
        </div>
      </div>
      <!-- Column -->
      
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-12">
    <h2 class="pt-2">Refunded History</h2>
    <div class="col-lg-12 mt-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <form>
                  <div class="mb-2">
                      <input type="text" class="form-control" id="prenametext" placeholder="Search">
                  </div>
              </form>
          </div>
          <div class="col-md-8 text-right">
            <div class="d-block">
              <mat-form-field appearance="fill">
                <mat-label> Filter by date</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
              <div class="mr-2 d-inline-block"><button class="btn btn-primary">Download CSV</button></div>
              <div ngbDropdown class="d-inline-block mb-2 mr-2">
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Filter by order status
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">Accepted</button>
                    <button class="dropdown-item">Rejected</button>
                  </div>
              </div>
          </div>
            <div class="table-responsive">
              <table mat-table class=" w-100" [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="serial_no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> #  </th>
                  <td mat-cell *matCellDef="let row"> {{row.serial_no}} </td>
                </ng-container>  
                <!-- ID Column -->
                <ng-container matColumnDef="audio">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Audio Files </th>
                  <td mat-cell *matCellDef="let row"> 
                  <audio controls>
                    <source [src]=row.audio type="audio/mp3">
                  </audio> 
                </td>
                </ng-container>
                <!-- ID Column -->
                <ng-container matColumnDef="ordered_item">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Returned Items  </th>
                  <td mat-cell *matCellDef="let row"> {{row.ordered_item}} </td>
                </ng-container>  <!-- ID Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Vendor Details </th>
                  <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.name}} <br> {{row.id}} </td>
                </ng-container>
                <!-- Address -->
                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Delivery Location </th>
                  <td mat-cell *matCellDef="let row" style="width:200px;"> {{row.address}} <a href="javascript:void()" (click)="mapModal(map)"><i class="sl-icon-info"></i></a> </td>
                </ng-container>
                <!-- Pricing -->
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Refund Amount</th>
                  <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.price}} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-nowrap"> Action </th>
                  <td mat-cell *matCellDef="let row" class="text-nowrap">
                    <div ngbDropdown placement="bottom-right" display="dynamic" class="dropdown-menu-right"  container="body">
                      <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                        Action
                      </button>
                      <div  ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a href="javascript:void()" class="dropdown-item" (click)="vendorConfirmModal(vendorConfirm)">
                          Accept
                        </a>
                        <a href="javascript:void()" class="dropdown-item "
                          (click)="orderConfirmModal(orderConfirm)">
                          Reject</a>
                      </div>
                    </div>
                  </td>
                </ng-container> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            </div>
            <div class="col-md-12 text-right"><mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator></div>
          </div>
        </div>
      </div>
      <!-- Column -->
      
    </div>
  </div>
  <!-- Column -->
</div>
<ng-template #discount let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Coupons</h4>
    <button type="button" class="close-icon" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-reponsive">
      <table class="table table-sm">
        <tbody>
          <tr>
            <td class="align-middle">Get 20% OFF On Food Orders</td>
            <td><button class="food-code btn btn-success">
                Food20
              </button></td>
          </tr>
          <tr>
            <td class="align-middle">Get 60% OFF On Food Orders</td>
            <td><button class="food-code btn btn-success">
                Food60
              </button></td>
          </tr>
          <tr>
            <td class="align-middle">Get 60% OFF On Food Orders</td>
            <td><button class="food-code btn btn-success">
                Food60
              </button></td>
          </tr>
          <tr>
            <td class="align-middle">Get 60% OFF On Food Orders</td>
            <td><button class="food-code btn btn-success">
                Food60
              </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</ng-template>

<!-- mat table -->
<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput formcontrol='filter' (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field> -->


<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
   <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input> 
</mat-form-field> -->